body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.main-container {
  background-color: #1A1851;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.top-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid white;
}

.box1 {
  background-color: #1A1851;
  width: 135px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid white;
  border-top: none;
  border-bottom: none;
}

.box1-label {
  position: absolute;
  top: 10px;
  font-size: 18px;
  color: #FCB315;
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

.box1-count {
  font-size: 26px;
  color: #FCB315;
  font-weight: bold;
  position: absolute;
  bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

/* Remove left border for the first box
.top-container .box1:first-child {
  border-left: none;
}

/* Remove right border for the last box */
/* .top-container .box1:last-child {
  border-right: none;
} */

.mid1-container {
  width: 100%;
  height: 40px;
  background-color: #1A1851;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mid1-text {
  color: #FCB315;
  font-size: 17px;
  letter-spacing: 5px;
  font-weight: 900;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.mid2-container {
  width: 100%;
  height: 390px;
  background-color: #1A1851;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box2 {
  background-color: white;
  width: 335px;
  height: 390px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box2-label {
  top: 20px;
  font-size: 18px;
  color: #fcb414;
  text-align: center;
  width: 100%;
  font-weight: 1000;
  font-family: 'Poppins', sans-serif;
}

/* Add left margin for the first box in mid2-container */
.mid2-container .box2:first-child {
  margin-left: 5px; /* Adjust the value as needed */
}

/* Add right margin for the last box in mid2-container */
.mid2-container .box2:last-child {
  margin-right: 5px; /* Adjust the value as needed */
}

.bottom-container {
  width: 100%;
  height: 60px;
  background-color: #1A1851;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  box-sizing: border-box;
}

.bottom-left,
.bottom-middle,
.bottom-right {
  color: #fcb414;
  font-size: 22px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.bottom-right {
  display: flex;
  align-items: center;
}

.view-records-btn {
  background-color: white;
  color: #1A1851;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.view-records-btn:hover {
  background-color: #fcb414;
}

/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #1A1851;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  color: #fcb414;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: 'Poppins', sans-serif;
}

.modal-content label {
  display: block;
  margin: 10px 0 5px;
}

.modal-content input {
  width: calc(100% - 26px);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 16px;
}

.modal-content .error {
  color: red;
  margin-bottom: 0px;
}

.modal-content button {
  background-color: #1A1851;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: #fcb414;
}


.scanned-data-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  height: 100%;
  overflow-y: auto; /* Scroll if there are too many items */
}

.scanned-data-item {
  font-size: 16px;
  color: #000;
  background-color: #FCB315;
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
}

.b1 {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #FCB315;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
}
